{% extends("frontend/main.html") %}

{% block content %}

<main class="h-screen flex items-center justify-center px-4 overflow-hidden">

    <div class="w-full max-w-md bg-[#121214] border border-white/5 rounded-2xl p-6">

        <h2 class="text-2xl font-bold text-white mb-2 text-center">Create Account</h2>
        <p class="text-sm text-gray-500 mb-5 text-center">Join the store</p>

        <form method="POST" class="space-y-3">

            <!-- Name -->
            <div>
                <label class="text-xs text-gray-400">Full Name<span class="text-danger">(*)</span></label>
                <input type="text" name="name" required
                       value="{{ name or '' }}"
                       class="w-full mt-1 bg-[#09090b] border border-white/10 rounded-lg px-3 py-2 text-white focus:outline-none focus:border-white/30">
            </div>

            <!-- Email -->
            <div>
                <label class="text-xs text-gray-400">Email<span class="text-danger">(*)</span></label>
                <input type="email" name="email" required
                       value="{{ email or '' }}"
                       class="w-full mt-1 bg-[#09090b] border border-white/10 rounded-lg px-3 py-2 text-white focus:outline-none focus:border-white/30">
            </div>

            <!-- Phone -->
            <div>
                <label class="text-xs text-gray-400">Phone<span class="text-danger">(*)</span></label>
                <input type="text" name="phone"
                       value="{{ phone or '' }}"
                       class="w-full mt-1 bg-[#09090b] border border-white/10 rounded-lg px-3 py-2 text-white focus:outline-none focus:border-white/30">
            </div>

            <!-- Password -->
            <div>
                <label class="text-xs text-gray-400">Password<span class="text-danger">(*)</span></label>
                <input type="password" name="password" required
                       class="w-full mt-1 bg-[#09090b] border border-white/10 rounded-lg px-3 py-2 text-white focus:outline-none focus:border-white/30">
            </div>

            <!-- Register Button -->
            <button type="submit"
                    class="w-full bg-white text-black font-semibold py-2 rounded-lg hover:opacity-90 transition">
                Register
            </button>

        </form>

        <p class="text-xs text-gray-500 mt-5 text-center">
            Already have an account?
            <a href="" class="text-white hover:underline">
                Login
            </a>
        </p>

    </div>

</main>

{% endblock %}